.product-detail-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .product-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .product-info {
    flex: 1;
    margin-top: 10;
    margin-left: 10px;
  }
  
  .product-info h2 {
    font-size: 40px;
  }
  
  .product-info p {
    margin: 10px 0;
  }
  
  .add-to-cart-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }